.container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
 
  min-width: 100%;
  min-height: 100%;
}


.start_btn{
  text-align: center;
display: inline-block;
margin-top:10vw;
  font-weight: bold;
  padding: 1vw 0 1vw 1vw ;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em gray; 
  cursor: pointer;
  font-size: 2.5vw;
  font-family: 'Press Start 2p';
  
}
.start_btn:active {
  box-shadow: none;
	position: relative;
	top: .2em;
  color: white;
}
.title{
  display: flex-end;
  
  text-shadow: -.1vw -.1vw black, .1vw .1vw gold;
  font-family: 'Press Start 2p'; 
color: red;

font-size: 2.3vw;
overflow: hidden; /* Ensures the content is not revealed until the animation */
border-right: .15em solid white; /* The typwriter cursor */
white-space: nowrap; /* Keeps the content on a single line */
margin-top: 15vw; 
letter-spacing: .1em; /* Adjust as needed */
animation: 
  typing 3.8s steps(80, end),
  blink-caret .5s step-end infinite;
  
}
.title.restart {
  display: flex-end;
  
  text-shadow: -.1vw -.1vw black, .1vw .1vw gold;
  font-family: 'Press Start 2p'; 
color: red;

font-size: 2.3vw;
overflow: hidden; /* Ensures the content is not revealed until the animation */
border-right: .15em solid white; /* The typwriter cursor */
white-space: nowrap; /* Keeps the content on a single line */
margin-top: 15vw; 
letter-spacing: .20em; /* Adjust as needed */
animation: 
  typing 3.8s steps(30, end),
  blink-caret .5s step-end infinite;
}

.input{
  width: 30vw;
  height: 3vw;
  background-color: white;
  margin-right: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px white;
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: 'Press Start 2p';
}




@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}







