.container {
  display: flex;
  flex-direction: column wrap;
  border: 3px solid red;
  top: 3rem;
  position: relative;

 justify-content: center;


 width: 100%;
 height: 100%;

 
}

.divForm{
  border: 3px solid blue;

}
.divErrors{
  border: 3px solid yellow;
}
