.container {
  display: flex;
flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: flex-end;
background-color: lightgrey;
  width: 47%;
position: absolute;
height: 40rem;
margin-top: 5rem;
margin-left: 2rem;
border-radius: 1rem;


}

.divDetailtext {
  text-align: left;
  width: 49%;
  height: 49%;
  margin: .3rem;
  background-color: lightgray;
  border-radius: 7px;
  box-shadow: .2em .2em .2em .2em gray;
  transition: 1000ms;
  overflow: auto;
  align-self: flex-start;
 
}



.divDescription {
 width: 98%;
  height: 49%;
  
  margin: .4rem;
  background-color: lightgray;
  border-radius: 7px;
  box-shadow: 0 .2em gray;
align-self: flex-end;
  transition: 1000ms;
  text-align: justify;
  overflow: auto;
  box-shadow: .2em .2em .2em .2em gray;

}

.img {
  width: 45%;
  height: 47%;
  margin: .4rem;

    border-radius: 10px;
    position: absolute;
    align-self: flex-end;
    margin-left: 2rem;
    box-shadow: .2em .2em .2em .2em black;


}

.p {
  color: black;
  font-family: 'Press Start 2p';
  font-size: .75rem;
  text-align: center;
  line-height:1.8;
  padding: 1rem;
  text-align: justify;

  text-shadow: -.1vw -.1vw white, .1vw .1vw white;
}

.h3Info {

  font-family: 'Press Start 2p'; 
  color: black;
  line-height: 1.2;
  font-size: .6rem;
  opacity: 1;
  /* text-shadow: -.1vw -.1vw white, .1vw .1vw black; */
}

.label {
  color: goldenrod;
  font-family: 'Press Start 2p';
  font-size: .75rem;
  text-align: center;
  line-height:1.5;
  
  text-shadow: -.1vw -.1vw white, .1vw .1vw black;
}

.button {
	text-align: center;
	display: inline-block;

	  font-weight: bold;
	  padding: 1vw ;
	  background-color: rgb(52, 226, 52);
	  text-shadow: -1px -1px black, 1px 1px white;
	  color: white;
	  -webkit-border-radius: 7px;
	  -moz-border-radius: 7px;
	  -o-border-radius: 7px;
	  border-radius: 7px;
	  box-shadow: 0 .2em gray; 
	  cursor: pointer;
	  font-size: 1vw;
	  font-family: 'Press Start 2p';
}

.button:active {
  box-shadow: none;
  position: relative;
  top: .2em;
  color: white;
}
.divButton {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  width: 100%;

}

.buttonReset {
	text-align: center;
	display: inline-block;

	  font-weight: bold;
	  padding: 1vw  ;
	  background-color: red;
	  text-shadow: -1px -1px black, 1px 1px white;
	  color: white;
	  -webkit-border-radius: 7px;
	  -moz-border-radius: 7px;
	  -o-border-radius: 7px;
	  border-radius: 7px;
	  box-shadow: 0 .2em gray; 
	  cursor: pointer;
	  font-size: 1vw;
	  font-family: 'Press Start 2p';
}

.buttonReset:active {
  box-shadow: none;
  position: relative;
  top: .2em;
  color: white;
}

hr{
    color: lightgray;
}

@media (max-width: 768px) {
  .divDetailtext {
    width: 80%;
    margin-left: 10%;
    margin-top: 5rem;
  }

  .divDescription {
    width: 80%;
    flex-basis: 55rem;
    margin-left: 10%;
    margin-top: -5rem;
  }
}
