.container {
display: flex;
flex-direction: row;
background-color: gray;
  justify-content: space-around;

margin-top: 1rem;

}
.filterOptions {
 display: flex;
 flex-direction: column;

 align-items: space-around;

}



.select {
  text-align: center;
align-self: center;
  font-weight: bold;
  padding: .2vw 0 .2vw .2vw ;
  background-color: lightgray;
  text-shadow: -.1vw -.1vw black, .1vw .1vw white;
  color: gray;
  -webkit-border-radius: .7vw;
  -moz-border-radius: .7vw;
  -o-border-radius: .7vw;
  border-radius: .7vw;
  box-shadow: 0 .2em gray;
  cursor: pointer;
  font-size: 1vw;
  font-family: 'Press Start 2p';
margin-top: 1vw;
}

.label {
  align-self: center;
  text-shadow: -.1vw -.1vw black, .1vw .1vw white;
  font-family: 'Press Start 2p'; 
color: white;


font-size: 1vw;

}

option{
  color: gray;
  font-weight: bold;
  text-shadow: -.1vw -.1vw black, .1vw .1vw white;
}
