.divCard {
  position: fixed;
  display: inline-block;
  text-align: center;


  background-color: lightgrey;

 
  width: 13rem;
  height: 20rem;
  text-align: center;
  margin-top: 1rem;
  position: relative; 
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em gray; 



}
.divCard:active{
  box-shadow: none;
	position: relative;
	top: .2em;
  color: white;
  
}




.imgCard {

  height: 10rem;
  width: 12rem;

  align-self: center;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 .2em goldenrod; 
  margin-top: 20px;
}






.firstText {

  color: white;
  
  opacity: 1;
 

  position: relative;
  top: 12rem;
  font-size: 1rem;
  left: 1rem;






}
.label {
  color: black;
  font-family: 'Press Start 2p';
  font-size: 60%;
  text-align: center;
  line-height:1.5;
  /* text-shadow: -.1vw -.1vw black, .1vw .1vw black; */
position: absolute;
left: .5rem;
top: 12rem
 
 
}
.genres {
  color: goldenrod;
  font-family: 'Press Start 2p';
  font-size: 55%;
  

  text-shadow: -.1vw -.1vw white, .1vw .1vw black;
position: absolute;
left: .5rem;
top: 15rem
 
 
}
.divGeres {
display: flex;
flex-direction: column;
position: relative;
top: 4rem;


line-height: 1.5;

}
.span{
  color: gray;
  font-family: 'Press Start 2p';
  font-size: 50%;
  
}





