.container {
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  width: 100%;
  background-color: lightgray;
  padding: .2rem;
  position: fixed;
  z-index: 10;

-moz-border-radius: 7px;
-o-border-radius: 7px;
border-radius: 7px;
box-shadow: 0 .2em gray; 
}

.divButton {
  align-self: center;
  align-content: center;
  justify-content: center;
  margin: 0vw .8vw 0vw .8vw;
}

.buttonReset {
	text-align: center;
	display: inline-block;

	  font-weight: bold;
	  padding: 1vw  ;
	  background-color: red;
	  text-shadow: -1px -1px black, 1px 1px white;
	  color: white;
	  -webkit-border-radius: 7px;
	  -moz-border-radius: 7px;
	  -o-border-radius: 7px;
	  border-radius: 7px;
	  box-shadow: 0 .2em gray; 
	  cursor: pointer;
	  font-size: 1vw;
	  font-family: 'Press Start 2p';
}

.buttonReset:active {
  box-shadow: none;
  position: relative;
  top: .2em;
  color: white;
}
.button {
	text-align: center;
	display: inline-block;

	  font-weight: bold;
	  padding: 1vw ;
	  background-color: rgb(52, 226, 52);
	  text-shadow: -1px -1px black, 1px 1px white;
	  color: white;
	  -webkit-border-radius: 7px;
	  -moz-border-radius: 7px;
	  -o-border-radius: 7px;
	  border-radius: 7px;
	  box-shadow: 0 .2em gray; 
	  cursor: pointer;
	  font-size: 1vw;
	  font-family: 'Press Start 2p';
}

.button:active {
  box-shadow: none;
  position: relative;
  top: .2em;
  color: white;
}
.buttonAbout {
	text-align: center;
	display: inline-block;

	  font-weight: bold;
	  padding: 1vw  ;
	  background-color: orange;
	  text-shadow: -1px -1px black, 1px 1px white;
	  color: white;
	  -webkit-border-radius: 7px;
	  -moz-border-radius: 7px;
	  -o-border-radius: 7px;
	  border-radius: 7px;
	  box-shadow: 0 .2em gray; 
	  cursor: pointer;
	  font-size: 1vw;
	  font-family: 'Press Start 2p';
}

.buttonAbout:active {
  box-shadow: none;
  position: relative;
  top: .2em;
  color: white;
}